<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stand under a creative commons
    naming 3.0 unported license.
    See https://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html class="no-javascript" lang="en">
    <head>
        <meta charset="utf-8">
        <!--Prevent browser caching-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>playground</title>
        <script>
            window.document.documentElement.className =
                window.document.documentElement.className.replace(
                    /(^|\s)no-javascript(\s|$)/, '$1javascript$2'
                );
        </script>
    </head>
    <script>
        window.onload = () => {
            Object.values(reactInputMaterial.index.default)
                .map((component) => component.register())
        };
    </script>
    <body class="no-javascript">
        <script>
            window.document.body.className =
                window.document.body.className.replace(
                    /(^|\s)no-javascript(\s|$)/, '$1javascript$2'
                );
        </script>

        <simple-input name="simpleInput1"></simple-input>
        <simple-input name="simpleInput2" value="'value2'"></simple-input>
        <simple-input
            model="{name: 'simpleInput3Model', value: 'value3Model'}"
            name="simpleInput3"
            value="'value3'"
        ></simple-input>
    </body>
<html>
<%_ /*
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
*/ _%>
