/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
.file-input {
    /*
        Dummy value to avoid removing this class name during static
        optimisation.
    */
    visibility: visible;

    .file-input__native {
        display: none;
    }
}
