/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
/* region imports */
/*import '@rmwc/card/styles'*/
@import '@material/card/dist/mdc.card.css';
/*import '@rmwc/circular-progress/styles'*/
/* Imported by GenericInput
@import '@rmwc/circular-progress/circular-progress.css';
*/
@import '@material/button/dist/mdc.button.css';
/* Imported by GenericInput
@import '@material/icon-button/dist/mdc.icon-button.css';
*/

@import './GenericInput.module';
/* endregion */
.file-input {
    /*
        Dummy value to avoid removing this class name during static
        optimisation.
    */
    visibility: visible;
}

.file-input .mdc-typography--headline6,
.file-input .mdc-typography--subtitle2 {
    margin-left: 10px;
}

.file-input__download {
    text-decoration: none;
}

.file-input__iframe-wrapper, .file-input__text-representation {
    border-left: 1px dashed black;
    box-sizing: content-box;
    opacity: .5;

    margin-bottom: -55px;

    height: 200px;
    transform: scale(.75);
    transform-origin: 0 0;
}

.file-input__iframe-wrapper {
    overflow: hidden;
    width: 645px;
}

.file-input__iframe-wrapper iframe {
    padding: 0 10px;
    border: none;
    overflow: hidden;
    width: 100%;
}

.file-input__iframe-wrapper--padding {
    /*
        Dummy value to avoid removing this class name during static
        optimisation.
    */
    visibility: visible;
}

.file-input__text-representation {
    padding: 0 15px;
    width: 620px;

    overflow-x: hidden;
    overflow-y: scroll;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.file-input__text-representation::-webkit-scrollbar {
    display: none;
}

.file-input__native {
    display: none;
}
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
