/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
/* region imports */
/*import '@rmwc/circular-progress/styles'*/
@import '@rmwc/circular-progress/circular-progress.css';
/*import '@rmwc/formfield/styles'*/
@import '@material/form-field/dist/mdc.form-field.css';
/*import '@rmwc/icon-button/styles'*/
@import '@material/icon-button/dist/mdc.icon-button.css';
@import '@material/ripple/dist/mdc.ripple.css';
@import '@rmwc/icon/icon.css';
/*import '@rmwc/select/styles'*/
@import '@material/floating-label/dist/mdc.floating-label.css';
@import '@material/line-ripple/dist/mdc.line-ripple.css';
@import '@material/list/dist/mdc.list.css';
@import '@material/menu/dist/mdc.menu.css';
@import '@material/menu-surface/dist/mdc.menu-surface.css';
@import '@material/notched-outline/dist/mdc.notched-outline.css';
/* redundant: @import '@material/ripple/dist/mdc.ripple.css';*/
@import '@material/select/dist/mdc.select.css';
@import '@rmwc/list/collapsible-list.css';
@import '@rmwc/select/select.css';
/*import '@rmwc/textfield/styles'*/
/* redundant: @import '@material/floating-label/dist/mdc.floating-label.css';*/
/* redundant: @import '@material/line-ripple/dist/mdc.line-ripple.css';*/
/* redundant: @import '@material/notched-outline/dist/mdc.notched-outline.css';*/
/* redundant: @import '@material/ripple/dist/mdc.ripple.css';*/
@import '@material/textfield/dist/mdc.textfield.css';
/* redundant: @import '@rmwc/icon/icon.css';*/
/*import '@rmwc/theme/styles'*/
@import '@material/theme/dist/mdc.theme.css';
@import '@rmwc/theme/theme.css';
/*import '@rmwc/tooltip/styles'*/
@import '@rmwc/tooltip/tooltip.css';
/*import '@rmwc/typography/styles'*/
@import '@material/typography/dist/mdc.typography.css';
/* endregion */
.generic-input {
    display: block;
}

.generic-input--custom {
    padding-top: 9px;
}

.generic-input__editor__label {
    top: 9px !important;
}

.generic-input__suggestions {
    background-color: var(--mdc-theme-surface);
    display: flex;
    flex-direction: column;
    margin-top: -30px;
    opacity: .8;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
