/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
/* region imports */
/*import '@rmwc/icon/styles'*/
@import '@rmwc/icon/icon.css';
/*import '@rmwc/theme/styles'*/
@import '@material/theme/dist/mdc.theme.css';
@import '@rmwc/theme/theme.css';
/*import '@rmwc/tooltip/styles'*/
@import '@rmwc/tooltip/tooltip.css';
/* endregion */
.interval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interval--disabled .interval__icon {
    opacity: .5;
}

.interval__end, .interval__start {
    width: 100%;
}

.interval__icon {
    box-sizing: border-box;
    margin: 16px;
    text-align: center;
}
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
