/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
.text-input {
    display: block;

    .mdc-text-field-helper-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    &.text-input--custom {
        padding-top: 9px;
    }

    .code-editor {
        .cm-focused {
            outline: none;

            .cm-content {
                opacity: 1;
            }
            .cm-gutters {
                visibility: visible;
            }
        }

        .cm-content {
            opacity: 0;
        }
        .cm-gutters {
            visibility: hidden;
        }
    }
    .code-editor--has-content {
        .cm-content {
            opacity: 1;
        }
        .cm-gutters {
            visibility: visible;
        }
    }

    .richtext-editor {
        border-bottom: 1px solid rgba(0 0 0 / 42%);

        .tiptap:focus-visible {
            outline: none;
        }

        .richtext-editor-bar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .richtext-editor-menu-bar {
                margin-bottom: 5px;
                margin-left: 10px;

                .mdc-icon-button--on {
                    color: var(--mdc-theme-secondary);
                }
            }
        }
    }

    .text-input__editor__label {
        top: 9px !important;
    }

    .text-input__suggestions {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        bottom: unset !important;
        top: 54px !important;
        width: 100%;

        &.text-input__suggestions--pending {
            padding: 10px;
        }

        .text-input__suggestions__suggestion {
            visibility: visible;
            white-space: break-spaces;
        }

        .text-input__suggestions__suggestion__mark {
            color: var(--mdc-theme-secondary);
            display: contents;
        }
    }
    /* Clears the 'X' from Internet Explorer */
    input[type="search"]::-ms-clear,
    input[type="search"]::-ms-reveal {
        display: none;

        height: 0;
        width: 0;
    }
    /* Clears the 'X' from Chrome */
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
        display: none;
    }
}
