/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
.inputs {
    display: flex;
    flex-direction: column;

    .inputs__add {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .inputs__add__button,
        .inputs__item__remove {
            box-sizing: border-box;
            text-align: center;
            visibility: visible;
        }
    }

    .inputs__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .inputs__item__input {
            /* NOTE: Remove icon has 48 px with. */
            width: calc(100% - 48px);
        }

        &.inputs__item--disabled .inputs__item__input {
            opacity: 0.7;
        }
    }
}
