/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
.interval {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .interval__icon {
        box-sizing: border-box;
        margin: 16px;
        text-align: center;
    }

    .interval__end,
    .interval__start {
        width: 100%;
    }

    &.interval--disabled .interval__icon {
        opacity: 0.5;
    }
}
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
