/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
/* region material fixes */
.text-input {
    label,
    .mdc-form-field {
        width: 100%;

        &.mdc-text-field--textarea {
            width: 100%;
        }
    }
    /*
        Fading input elements with pre-filled inputs or placeholder are not
        over background outline.
    */
    .mdc-select--outlined,
    .mdc-text-field--outlined {
        .mdc-floating-label--float-above {
            background-color: var(--mdc-theme-surface);
        }
    }

    .mdc-icon-button {
        font-size: 1rem;
        height: 30px;
        padding: 6px;
        vertical-align: middle;
        width: 30px;
    }

    .mdc-select {
        width: 100%;

        &.mdc-select--disabled .mdc-select__dropdown-icon {
            color: rgb(0 0 0 / 38%);
        }

        .mdc-select__menu {
            width: 100%;
        }
    }

    .mdc-select-helper-text {
        color: rgb(0 0 0 / 60%);
        margin-left: 0;

        .material-icons {
            font-size: 1rem;
        }
    }

    .mdc-text-field-helper-text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    .mdc-text-field {
        /* stylelint-disable-next-line selector-class-pattern */
        .ace_editor.mdc-text-field__input {
            font-family: monospace;
        }

        + .mdc-text-field-helper-line {
            padding-left: 0;
            padding-right: 0;

            .material-icons {
                font-size: 1rem;
            }
        }
    }
}
/* endregion */

.inputs {
    border-left: 2px dashed var(--mdc-theme-surface);

    &.inputs--invalid {
        border-left: 2px dashed var(--mdc-theme-error);
    }
}

.generic-tooltip {
    display: inline;
}

::-ms-clear {
    display: none;
}
