/* !/usr/bin/env css
-*- coding: utf-8 -*- */
/* region header
Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

License
-------

This library written by Torben Sickert stand under a creative commons naming
3.0 unported license. See https://creativecommons.org/licenses/by/3.0/deed.de
endregion */
@import 'bootstrap';
@import 'pygment-vim-like-highlighting';
@import 'website-utilities/index.css';

:root {
    /* region constants */
    /** region color */
    --color1: #fff;
    --color2: #fbfbfc;
    --color3: #f7f7f9;
    --color4: #ddd;
    --color5: #cbcbcd;
    --color6: #797979;
    --color7: #333;
    --color8: #212121;
    --color9: black;
    --color10: #0090ff;
    --color11: #0069ba;
    /** endregion */
    /** region space */
    --default-space: 20px;
    /** endregion */
    /* endregion */
    /* region custom properties */
    /* stylelint-disable at-rule-no-unknown */
    @define-mixin icon {
        background-position: 0 0;
        background-repeat: no-repeat;
        display: inline-block;
        height: 30px;
        overflow: hidden;
        width: 30px;
        vertical-align: text-top;
    }
    /*
        NOTE: We explicit inherit form ".icon" to prepare this class to be
        super classes as well.
    */
    @define-mixin icon-blacktocat {
        @mixin icon;

        background-image: url('../image/blacktocat.png');
        background-position: 0 0;
        height: 30px;
        width: 30px;
    }

    @define-mixin icon-archiv {
        @mixin icon;

        background-position: 0 0;
        height: 64px;
        width: 82px;
    }

    @define-mixin icon-archiv-gray {
        @mixin icon-archiv;

        background-image: url('../image/folderGray.png');
    }

    @define-mixin icon-archiv-blue {
        @mixin icon-archiv;

        background-image: url('../image/folderBlue.png');
    }

    @define-mixin icon-download {
        @mixin icon;

        background-image: url('../image/arrowDown.png');
        background-position: 0 0;
        height: var(--default-space);
        width: 20px;
    }
    /* stylelint-enable at-rule-no-unknown */
    /* endregion */
}

.documentation {
    /* region global */
    /* stylelint-disable at-rule-no-unknown */
    @mixin codehilite;
    @mixin website-utilities;
    /* stylelint-enable at-rule-no-unknown */
    /*
        NOTE: If we swap these lines to order alphabetical bodies background
        color does not get overwritten.
    */
    color: var(--color7);
    background-color: var(--color8);
    line-height: 1.5;
    /** region grid */
    & .inner {
        margin: 0 auto;
        position: relative;
        padding: var(--default-space) calc(var(--default-space) / 2);
    }
    /** endregion */
    /** region symbol */
    & span {
        &.arrow-left-home,
        &.arrow-left-api {
            float: left;
            margin-top: 10px;
        }

        &.arrow-left-api {
            margin-left: 10px;
            margin-top: 38px;
        }
    }
    /** endregion */
    /** region headline */
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        color: var(--color8);
        font-family: var(--font-family-condensed);
        font-size: 2em;
        letter-spacing: -1px;
        margin: 10px 0;
    }
    & h1 { font-size: 4em; }
    & h2 { font-size: 3em; }
    /** endregion */
    /** region link */
    & a {
        color: var(--color10);
        outline: none !important;
        text-shadow: none;
        transition: color 0.5s ease, background-color 0.5s ease;

        &:hover { color: var(--color11); }

        &.api-link {
            float: left;
            padding-top: 36px;
        }

        &[href="#top"] {
            bottom: 30px;
            position: fixed;
            right: 45px;
            visibility: hidden;
            z-index: 4;
        }

        &[href^="#language-"] {
            color: var(--color6);

            &.current { color: var(--color7); }
            &:hover { color: var(--color8); }
        }
    }
    /** endregion */
    /** region image */
    /*** region generic */
    /* stylelint-disable at-rule-no-unknown */
    & [class^="icon-"],
    & [class*=" icon-"],
    & .icon { @mixin icon; }

    & .icon- {
        &blacktocat { @mixin icon-blacktocat; }
        &download { @mixin icon-download; }
        &gray-archiv { @mixin icon-archiv-gray; }
        &blue-archiv { @mixin icon-archiv-blue; }
    }
    /* stylelint-enable at-rule-no-unknown */
    /*** endregion */
    /* stylelint-disable at-rule-no-unknown */
    & i {
        &.icon-download-arrow {
            @mixin icon-download;

            float: right;
            margin-left: var(--default-space);
            margin-top: 39px;
        }

        &.icon-github {
            @mixin icon-blacktocat;

            margin-bottom: -2px;
            margin-left: 8px;
            margin-top: -6px;
        }
    }
    /* stylelint-enable at-rule-no-unknown */
    /** endregion */
    /* endregion */
    /* region footer */
    & footer .inner {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        width: 100%;

        & p { color: var(--color3); }
        & a:hover { color: var(--color11); }
    }
    /* endregion */
    /* region header */
    & header {
        background-image:
            linear-gradient(
                to bottom,
                var(--color7),
                var(--color8)
            );

        & .inner {
            padding: 50px 10px 30px;

            & a.forkme-banner {
                background-color: var(--color10);
                border-radius: 0 0 2px 2px;
                box-shadow: 0 0 10px var(--color9);
                color: var(--color1);
                display: block;
                font-weight: 700;
                padding: 10px;
                position: absolute;
                right: 10px;
                top: 0;
                z-index: 10;

                &:hover { background-color: var(--color11); }
            }

            & .header-links {
                bottom: -40px;
                height: 70px;
                padding: 0;
                position: absolute;
                right: 0;
                width: 100%;
                z-index: 10;

                & a {
                    &.api-link { margin-left: 10px; }

                    &[href^="#language-"] {
                        float: right;
                        padding-right: 10px;
                        padding-top: 35px;
                    }
                    /* region download buttons */
                    &.zip-source-download,
                    &.zip-distribution-bundle-download,
                    &.tar-gz-source-download {
                        /* stylelint-disable at-rule-no-unknown */
                        @mixin icon-archiv-gray;
                        /* stylelint-enable at-rule-no-unknown */

                        color: var(--color1);
                        display: block;
                        float: right;
                        font-size: 1.2em;
                        font-weight: bolder;
                        height: 66px;
                        margin-right: calc(var(--default-space) / 2);
                        overflow: hidden;
                        padding-top: 29px;
                        text-align: center;
                        width: 80px;
                    }

                    &.zip-source-download:hover,
                    &.zip-distribution-bundle-download:hover,
                    &.tar-gz-source-download:hover {
                        /* stylelint-disable at-rule-no-unknown */
                        @mixin icon-archiv-blue;
                        /* stylelint-enable at-rule-no-unknown */

                        color: var(--color1);
                        height: 66px;
                        width: 80px;
                    }
                    /* endregion */
                }
                & .arrow-left-api { margin-left: 10px; }

                & .arrow-left-api,
                & .api-link span,
                & .icon-download-arrow { display: none; }
            }

            & h1.project-title,
            & h2.project-tagline {
                border: none;
                color: var(--color1);
                text-shadow: var(--color9) 0 0 10px;

                & a {
                    color: var(--color1);
                    text-shadow: var(--color9) 0 0 10px;
                }
            }

            & h2.project-tagline {
                background: none;
                font-size: 2em;
                font-weight: 300;
            }
        }
    }
    /* endregion */
    /* region content */
    & section {
        background-color: var(--color1);
        overflow: auto;
        word-wrap: break-word;

        & .about-this-website p { margin-bottom: 45px; }
        /* region content */
        & .inner {
            padding-top: 40px;

            &.main-content {
                /* region code blocks */
                & .codehilite pre {
                    background-color: var(--color2);
                    border-color: var(--color4);
                    border-radius: 0;
                    margin: var(--default-space) 0 0 0;
                    /* Don't highlight syntax errors. */
                    & .err { border: 0; }
                }

                & .table-responsive {
                    border: 0;
                    margin-bottom: 0;

                    & .codehilitetable { width: 100%; }
                }

                & table {
                    border-collapse: collapse;
                    margin-top: var(--default-space);
                    text-align: left;

                    & .linenos,
                    & .code {
                        border-color: var(--color4);
                        padding: 0;

                        & .linenodiv,
                        & .codehilite {
                            & pre {
                                border-color: var(--color4);
                                margin: 0;
                                white-space: pre;
                            }
                        }

                        & .linenodiv pre {
                            background-color: var(--color3);
                            border-radius: 0;
                            color: var(--color5);
                            padding: 10px 4px;
                            text-align: right;
                        }

                        & .codehilite pre {
                            background-color: var(--color2);
                            border-left: 0;
                            overflow: auto;
                            padding: 10px;
                            /* Don't highlight syntax errors. */
                            & .err { border: 0; }
                        }
                    }
                }
                & p { margin: var(--default-space) 0 0 0; }
                /* endregion */
                & .show-example-wrapper {
                    background-color: var(--color2);
                    border: 1px solid var(--color4);
                    border-top: 0;
                    padding: var(--default-space);
                    padding-top: calc(var(--default-space) / 2);

                    & h3 {
                        color: var(--color5);
                        font-family: var(--font-family);
                        font-size: 0.9em;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-bottom: calc(var(--default-space) / 2);
                        margin-top: 0;
                    }
                    & p { margin: 0; }
                }
            }
        }
        /* endregion */
    }
    /* endregion */
    /* region responsive */
    /** region extra extra small */
    /* @media (--extra-extra-small) { */
    @media (min-width: 360px) {
        & header .inner .header-links {
            & .arrow-left-api,
            & .icon-download-arrow { display: initial; }
        }
        /** region extra small */
        /* @media (--extra-small) { */
        /* stylelint-disable at-rule-no-unknown */
        @media (min-width: 500px) {
            & header .inner .header-links .api-link span { display: initial; }
            /* @media (--small) { */
            @media (min-width: 768px) {
                /* region small */
                /** region headline */
                & h2 {
                    border-bottom: 1px dashed var(--color4);
                    padding-bottom: 10px;
                }
                /** endregion */

                & .inner { width: 715px; }

                & header .inner .header-links {
                    width: 706px;

                    & .arrow-left-api { margin-left: 0; }
                }

                & section .inner.main-content {
                    & pre { font-size: 0.9em; }

                    & .codehilite pre { width: 695px; }

                    & table {
                        & .linenos .linenodiv pre { width: 42px; }

                        & .linenos,
                        & .code {
                            & .linenodiv pre { padding: 10px 7px 10px 1px; }
                        }

                        & .code .codehilite pre { width: 653px; }
                    }

                    & .show-example-wrapper { width: 100%; }
                }

                & a[href="#top"] {
                    bottom: 30px;
                    position: fixed;
                    right: 5px;
                    visibility: visible;
                    z-index: 4;
                }
                /* endregion */
                /* region medium */
                /* @media (--medium) { */
                @media (min-width: 992px) {
                    & a[href="#top"] { right: 45px; }
                }
                /* endregion */
            }
        }
        /* stylelint-enable at-rule-no-unknown */
        /** endregion */
    }
    /** endregion */
    /* endregion */
}
/* region vim modline
vim: set tabstop=4 shiftwidth=4 expandtab:
vim: foldmethod=marker foldmarker=region,endregion:
endregion */
