<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stand under a creative commons
    naming 3.0 unported license.
    See https://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--Prevent browser caching-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>playground</title>
        <!--region style-->
        <!--region tabs-->
        <link rel="stylesheet" href="/@material/tab-bar/dist/mdc.tab-bar.css">
        <link rel="stylesheet" href="/@material/tab/dist/mdc.tab.css">
        <link rel="stylesheet" href="/@material/tab-scroller/dist/mdc.tab-scroller.css">
        <link rel="stylesheet" href="/@material/tab-indicator/dist/mdc.tab-indicator.css">
        <link rel="stylesheet" href="/@material/ripple/dist/mdc.ripple.css">
        <!--endregion-->
        <style>
            .file-input,
            .generic-input {
                margin-bottom: 20px;
            }

            .playground__inputs {
                float: left;
                width: 500px;
            }

            .playground__inputs__generic-animate .generic-animate-appear-active,
            .playground__inputs__generic-animate .generic-animate-enter-active,
            .playground__inputs__generic-animate .generic-animate-exit-active {
                transition: opacity 2000ms ease-in !important;
            }

            .playground__outputs {
                height: -webkit-fill-available;
                margin-left: 500px;
                overflow: auto;
                position: fixed;
            }

            <%-
                require('material-icons/iconfont/material-icons.css')
                    .replace(
                        /(url\()"?(?:\.\/)?(material-icons\.[^.")]+)"?(\))/g,
                        '$1material-icons/iconfont/$2$3'
                    )
            %>
        </style>
        <!--endregion-->
        <!--region polyfill-->
        <%_
            const features = new Set([
                /*
                    Most polyfills are determined via
                    "create-polyfill-service-url".
                */
                // Asynchronous suggestion creator.
                'AbortController',
                // MDC-Input - Label moving to top does not work.
                'Array.from',
                'Array.isArray',
                'Array.prototype.entries',
                'Array.prototype.every',
                'Array.prototype.filter',
                'Array.prototype.forEach',
                // clientnode - Usage.
                'Array.prototype.includes',
                'Array.prototype.indexOf',
                'Array.prototype.keys',
                'Array.prototype.map',
                'Array.prototype.reduce',
                'Array.prototype.some',
                'Array.prototype.sort',
                'Array.prototype.values',
                // Usual array interaction.
                'Array.prototype.@@iterator',
                'ArrayBuffer',
                'Blob',
                'console',
                // MDC-Select - Throws about missing object.
                'CustomEvent',
                'DataView',
                'Date.prototype.toISOString',
                'document',
                'Function.prototype.bind',
                'Intl',
                'Map',
                'Object.create',
                'Object.defineProperty',
                // Iterating over mapping objects everywhere.
                'Object.entries',
                'Object.getOwnPropertyNames',
                'Object.getPrototypeOf',
                'Object.keys',
                // Applying a scope object during template function call.
                'Object.values',
                // React uses for rendering.
                'Promise',
                'Set',
                // Many usages e.g. in clientnode.
                'String.prototype.endsWith',
                'String.prototype.includes',
                'String.prototype.startsWith',
                'String.prototype.trim',
                // Used by react to identify its own entities.
                'Symbol',
                'Symbol.for',
                'Symbol.iterator',
                'Symbol.prototype.description',
                'Symbol.toStringTag',
                'WeakMap',
                'WeakSet'
            ])
        _%>
        <script src="https://polyfill.io/v3/polyfill.js?features=<%- encodeURIComponent(Array.from(features).sort().join(',')) %>"></script>
        <!--endregion-->
    </head>
    <body class="no-javascript playground">
        <application></application>
    </body>
<html>
<%_ /*
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
*/ _%>
